@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.article-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
  margin-top: 1.5rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.article-content p {
  font-size: 1rem;
  line-height: 1.75;
  color: #444;
  text-align: justify;
  margin-top: 1.5rem;
}

.article-content img {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  border-radius: 10px;
}
